.DS_STORE
.haxelib/
.vscode
.github
.git
.vs/
APIStuff.hx
batfiles/
dump/
export/
shitAudio/
.build_time
.swp

#Exclude every FLA i can find in assets (just so i can add a new FLA :3)
assets/preload/images/prompt-ng_login.fla
assets/preload/images/fonts/funny.fla

# Exclude JS stuff
node_modules/
package.json
package-lock.json
/art/flashFiles/excludeme
