.DS_STORE
.haxelib/
.vs/
APIStuff.hx
batfiles/
dump/
export/
RECOVER_*.fla
shitAudio/
.build_time
.swp

# Exclude JS stuff
node_modules/
package.json
package-lock.json
/assets/shared/images/dialogue
assets/shared/images/speech_bubble.png
assets/shared/images/speech_bubble.xml
